body{
    margin: 0;
    padding: 0;
    background-color: rgba(219, 239, 239, 1);
}
.container{
    background: #d4d8d8;
}

.navbar{
    /* background: #6495ED;
    border-radius: 5px; */
}

.logo img {
    height: 90px;
    margin-right: 200px;
    width: 200px ;
    padding-left: 10px;

}

.logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 100px auto;
}

nav ul li {
    margin: 15px;
    font-size: larger ;
    margin-right: 6 0px ;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7c7c7c;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background: #acc4df;
}

.hero-content {
    max-width: 60%;
    /* margin-left: 200px; */

}

.hero-content h2 {
    /*font-family: 'Lobster', cursive;*/
    font-size: 40px;
    margin: 0;
}

.hero-content p {
    font-size: 20px;
    color: #555;
    width: 100%;
    align-self: center;
}

.hero-image img {
    width: 300px;
    height: 300px;
}
.team{
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.team .team-content{
    width: 90%;
    margin-left: 5%;
}
.team .team-member img{
    width: 100%;
    height: auto;
}
.team h1{
    /*font-family: "Times New Roman", Times, serif;*/
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.team .team-member h3{
    /*font-family: "Times New Roman", Times, serif;*/
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    
}

.team .team-member p{
    font-family: "Times New Roman", Times, serif;
    width: 80%;
    margin-left: 20px;
    
}
footer{
    background-color: #c7c6d1;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 60px;
}
footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}