body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.screen {
    max-width: 1440px;
    margin: auto;
    background: #d4d8d8;
    height: 100%;
  }  


.logo img {
    height: 90px;
    margin-right: 200px;
    width: 200px;
    padding-left: 10px;

}

.logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 100px auto;
}

nav ul li {
    margin: 15px;
    font-size: larger;
    margin-right: 6 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7c7c7c;
}

.service {
    display: flex;
    margin-top: 100px;
}

.service .services-button {
    margin-top: 10px;

}

.service .services-image {
    margin-left: auto;
}

.service .services-image img {
    width: 500px;
}

.service .services-button button {
    background-color: #6495ED;
    padding: 4px;
    border: 2px solid #3976e7;
    border-radius: 5px;
}

.service .services-button .button-2 {
    margin-left: 20px;
}