@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.screen {
    max-width: 100%;
    margin: auto;
    background: #d4d8d8;
    height: 100%;
}


.logo img {
    height: 90px;
    margin-right: 200px;
    width: 200px;
    padding-left: 10px;

}

.logo h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 100px auto;
}

nav ul li {
    margin: 15px;
    font-size: larger;
    margin-right: 6 0px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7c7c7c;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    background: #acc4df;
}

.hero-content {
    max-width: 500px;
    /* margin-left: 200px; */

}

.hero-content h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
}

.hero-content p {
    font-size: 24px;
    color: #555;
}

.hero-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #6495ED;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #0056b3;
}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.about-us .about {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
}

.about-us .about img {
    height: 500px;
    border-radius: 30px;
    border: 3px solid black;
}

.about-us .about .text-content {
    width: 500px;
    margin-left: 70px;
    margin-top: 50px;
}

.about-us .about .text-content .about-heading {
    background: #c7c6d1;
    border: 1px solid #c7c6d1;
    border-radius: 50px;
    box-shadow: 10px 10px 5px gray;
}

.about-us .about .text-content .about-heading:hover {
    background: #c7c6d1;
    border: 1px solid #c7c6d1;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.about-us .about .text-content h2 {
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.about-us .about .text-content h3 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.about-us .about .text-content p {
    font-size: 25px;
    text-align: justify;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.our-works {
    margin-top: 30px;
}

.our-works .works .work-heading {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.our-works .works .slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main {
    background: #c7c6d1;
    width: 100%;
    margin-top: 95px;
}

.footer-main .footer {
    text-align: center;
}

.footer-main .footer .footer-head {
    text-align: center;
    font-weight: bold;
}

.footer-main .footer .footer-form button {
    background: #6495ED;
    margin-left: 20px;
}

.footer-main .footer .footer-form button:hover {
    background: #2f67ce;
}


.footer-main .footer .footer-form form {
    display: flex;
    margin-left: 250px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #4682b4;
    padding: 50px;
    margin: 30px 0 0 0;
    color: white;
  
  }
  
  .shop-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* font-family: "Source Sans 3", sans-serif; */
  
  }
  
  .shop-list h1 {
    /* font-family: "Source Sans 3", sans-serif; */
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  .shop-list ul {
    list-style-type: none;
    margin-top: 4px;
    padding: 0;
  }
  
  .shop-list ul li {
    margin-top: 10px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .help-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
  
  }
  
  .help-list h1 {
    /* font-family: "Source Sans 3", sans-serif; */
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .help-list ul {
    list-style-type: none;
    /* font-family: "Source Sans 3", sans-serif; */
    font-weight: 300;
    margin-top: 4px;
    padding: 0;
  }
  
  .help-list li {
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
  }
  
  
  .terms {
    display: flex;
    cursor: pointer;
  }
  
  .terms p {
    /* font-family: "Source Sans 3", sans-serif; */
    font-weight: 300;
    margin-top: 40px;
    margin-right: 50px;
  }